/* movie container */
.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10;
    background-color: rgb(5, 18, 24);
    padding: 10px;
}



/* movie card */

.grid-item {
    position: relative;
    text-align: center; 
    padding: 30px; 
    font-size: 30px;     
}

.movie-card-top {
    height: 500px;
    border-radius: 5px;
}

.movie-release-date {
    text-align: left;
    color: #5A5F61;
    font-size: 16px;
    padding-top: 20px;
}

.movie-title {
    text-align: left;
    color: #AFBABA; 
    font-size: 20px;
}