/* page container */
.page-container {
    background-color: #24323F
}


/* movie container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

h1{
    text-align: left;
    padding-left: 80px;
    padding-top: 60px;
    color: #FDFEFF;
    margin-top: 0px;
}

hr {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    margin-top: 40px;
    color: #303E4B;
}

/* movie card */

.movie-card-top {
    border-radius: 5px;
    width: 100%;
}

.movie-release-date {
    color: #666B73;
    padding-top: 20px;
    text-align: left;
}

.movie-title {
    text-align: left;
    color: #FAFAFC; 
    font-size: 20px;
}
