/* movie container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(5, 18, 24);
}


/* movie card */

.grid-item {
    position: relative;
    text-align: center; 
    padding: 30px; 
    font-size: 30px; 
}

.movie-card-top {
    border-radius: 5px;
}

.movie-release-date {
    text-align: left;
    color: #5A5F61;
    font-size: 16px;
    padding-top: 20px;
}

.movie-title {
    text-align: left;
    color: #AFBABA; 
    font-size: 20px;
}