/* page container */
.page-container {
    background-color: #24323F
}

/* movie container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.25em;
    grid-row-gap: 2.5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1.25em;
} 
h1{
    margin-top: 0;
    padding-top: 3.5em;
    padding-left: 2.5em;
    color: #FDFEFF;
}
hr {
    margin-top: 2.5em;
    margin-right: 5em;
    margin-bottom: 3.125em;
    margin-left: 5em;
    color: #303E4B;
}

/* movie card */

.image-card {
    position: relative;
}
.movie-card-top {
    border-radius: 5px;
    max-width: 100%;
}
.rating {
    width: 2.8125em;
    height: 2.8125em;
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #74D5AA;
    color: #294448; 
    pointer-events: none; 
}
.movie-release-date {
    color: #666B73;
    padding-top: 1.25em;
}
.movie-title {
    color: #FAFAFC; 
    font-size: 1.25em;
}

/* Design for tablets and phones */
/* Always add media queries at the bottom of the css file to avoid overriding issues */
@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
} 

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
    h1 {
        padding-left: 1.25em;
    }
    hr {
        margin-right: 2.5em;
        margin-left: 2.5em;
    }
}