/* movie detail */

.movie-detail-container {
    background: #113049;
    min-height: 100vh;
    min-width: 100vw;   
}

.movie-detail {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.movie-detail h1 {
    color: #FFFFFF;
    font-size: 56px;
}

.inlining {
    display: flex;
    align-items: center;
}

.movie-rating {
    color: #FFFFFF;
}

span, .genres, .release-date {
    color: #757D8F;
}

.genres, .release-date {
    padding: 5px;
}

.overview {
    color: #F9F9FA;
    padding-top: 30px;
    padding-bottom: 75px;
}

.images {
    display: flex;
}

.image {
    width: 154px;
    height: 200px;
    margin: 10px;
}

