/* movie detail */

.movie-detail-container {
    background: #113049;
    min-height: 100vh;
    min-width: 100vw;   
}

.movie-detail {
    max-width: 1170px;
    margin: 0 auto;
}

.movie-detail h1 {
    color: rgb(241, 239, 247);
    font-size: 3.5em;
}

.rating {
    display: inline;
    color: #ECEBEE;
}

span, .genres, .release-date {
    color: #9EB3C4;
}

.genres, .genre, .release-date {
    padding: 5px;
}

.genres {
    display: flex;
}

.overview {
    color: rgb(210, 209, 211);
    padding-top: 3%;
    padding-bottom: 7%;
}

.images {
    display: flex;
}

.image {
    width: 154px;
    height: 200px;
    margin: 2%;
}

.inlining {
    display: flex;
    align-items: center;
}